# Benzene emissions from the petroleum industry section from TRI 2014

In [10]:
import pandas as pd

In [11]:
TRI_2014 = pd.read_csv("C:/Users/Luckbug/Code/emissions/TRI/TRI_2014_US.csv")

In [12]:
TRI_2014.head()

,YEAR,TRI_FACILITY_ID,FRS_ID,FACILITY_NAME,STREET_ADDRESS,CITY,COUNTY,ST,ZIP,BIA_CODE,...,8.6_TREATMENT_ON-SITE,8.7_TREATMENT_OFF-SITE,PROD._WASTE_(8.1_THRU_8.7),8.8_ONE-TIME_RELEASE,PROD_RATIO_OR_ACTIVITY,8.9_PRODUCTION_RATIO,PARENT_COMPANY_NAME,PARENT_COMPANY_DB_NUMBER,SYS_STSITSSXSOLCHJPSAF7486K4RV,SYS_STSWGMX8O#197_NPUKVK#S5$QM
0,2014,30170WNSLYGEORG,1.100460e+11,WANSLEY STEAM ELECTRIC GENERATING PLANT,1371 LIBERTY CHURCH RD,CARROLLTON,HEARD,GA,30116,NaN,...,0.0,0.0,0.0,0.0,NaN,0.00,SOUTHERN CO CO-OWNED,NaN,7.404690e+18,1.582360e+19
1,2014,83687GRTWS1717E,1.100000e+11,BHS MARKETING LLC,1717 E FARGO AVE.,NAMPA,CANYON,ID,83687,NaN,...,0.0,0.0,30566.0,NaN,PRODUCTION,1.00,NaN,NaN,4.496230e+18,6.840210e+18
2,2014,06516DTSCH14FAR,1.100000e+11,DEITSCH PLASTIC CO INC,14 FARWELL ST,WEST HAVEN,NEW HAVEN,CT,6516,NaN,...,21178.0,0.0,22054.0,NaN,PRODUCTION,1.07,NaN,NaN,1.217880e+19,1.193360e+19
3,2014,87045PLNSSCOUNT,1.100010e+11,TRI-STATE GENERATION & TRANSMISSION - ESCALANT...,COUNTY RD 19,PREWITT,MCKINLEY,NM,87045,NaN,...,56065.0,0.0,56883.0,NaN,PRODUCTION,0.92,NaN,NaN,2.379440e+18,1.752400e+19
4,2014,53546SSTCH3330P,1.100010e+11,SSI TECHNOLOGIES SINTERED SPEC IALTIES DIV,3330 PALMER DR,JANESVILLE,ROCK,WI,53546,NaN,...,0.0,0.0,170713.0,NaN,PRODUCTION,1.03,NaN,NaN,3.122250e+18,4.395390e+18

In [13]:
TRI_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82748 entries, 0 to 82747
Columns: 111 entries, YEAR to SYS_STSWGMX8O#197_NPUKVK#S5$QM
dtypes: float64(79), int64(12), object(20)
memory usage: 63.8+ MB

### Filter dataframe "TRI_2014" for petroleum sector emissions

Then, create a new dataframe of only petroleum sector emissions called "Petro_2014"

In [14]:
Petro_2014 = TRI_2014[TRI_2014.INDUSTRY_SECTOR == "Petroleum"]

In [15]:
Petro_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5479 entries, 10 to 82740
Columns: 111 entries, YEAR to SYS_STSWGMX8O#197_NPUKVK#S5$QM
dtypes: float64(79), int64(12), object(20)
memory usage: 4.3+ MB

In [16]:
Ben_Petro_2014 = Petro_2014[Petro_2014.CHEMICAL == "BENZENE"]

In [17]:
Ben_Petro_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168 entries, 94 to 82545
Columns: 111 entries, YEAR to SYS_STSWGMX8O#197_NPUKVK#S5$QM
dtypes: float64(79), int64(12), object(20)
memory usage: 133.9+ KB

Since emissions can be reported in pounds and grams in the column "UNIT_OF_MEASURE," check whether benzene emissions are also reported in grams

In [18]:
Ben_Petro_2014.UNIT_OF_MEASURE.value_counts().reset_index()

    index  UNIT_OF_MEASURE
0  Pounds              168

Good, no benzene emissions were reported in grams so I don't have different units to worry about.

In [19]:
Ben_Petro_2014.to_csv("C:/Users/Luckbug/Code/emissions/Ben_Petro_2014.csv")