In [1]:
import pandas as pd

In [2]:
Ben_Petro_2016 = pd.read_csv("C:/Users/Luckbug/Code/emissions/Ben_Petro_2016.csv")

In [7]:
Ben_Petro_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Columns: 112 entries, Unnamed: 0 to SYS_STSWGMX8O#197_NPUKVK#S5$QM
dtypes: float64(80), int64(14), object(18)
memory usage: 134.4+ KB

In [6]:
RRA_list = pd.read_csv("C:/Users/Luckbug/Code/emissions/RRA_list.csv")

In [9]:
RRA_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 5 columns):
Facility NEI ID    146 non-null object
Facility Name      146 non-null object
Address            145 non-null object
City               145 non-null object
State              146 non-null object
dtypes: object(5)
memory usage: 2.9+ KB

### Merge on "STREET_ADDRESS" from the Ben_Petro_2016 dataframe and on "Address" from RRA_list dataframe.

In [13]:
pd.merge(Ben_Petro_2016, RRA_list, left_on="STREET_ADDRESS", right_on="Address")

,Unnamed: 0,YEAR,TRI_FACILITY_ID,FRS_ID,FACILITY_NAME,STREET_ADDRESS,CITY,COUNTY,ST,ZIP,...,8.9_PRODUCTION_RATIO,PARENT_COMPANY_NAME,PARENT_COMPANY_DB_NUMBER,SYS_STSITSSXSOLCHJPSAF7486K4RV,SYS_STSWGMX8O#197_NPUKVK#S5$QM,Facility NEI ID,Facility Name,Address,City,State
0,39542,2016,7908WVLRPR671FM,1.100000e+11,VALERO PARTNERS MCKEE,6701 FM 119,SUNRAY,MOORE,TX,79086,...,NaN,VALERO ENERGY PARTNERS LP,82686916.0,1.703000e+19,4.792400e+17,NEI8139,"Valero - Diamond Shamrock Refining Company,\rL...",6701 FM 119,Sunray,TX
1,78414,2016,79086DMNDSSTARR,1.100000e+11,DIAMOND SHAMROCK REFINING CO LP,6701 FM 119,SUNRAY,MOORE,TX,79086,...,1.04,VALERO ENERGY CORP,82686916.0,1.703000e+19,4.792400e+17,NEI8139,"Valero - Diamond Shamrock Refining Company,\rL...",6701 FM 119,Sunray,TX

Okay, that didn't work since they're only doing exact matches and one df uses uppercases and the other doesn't, for starters...