# Benzene emissions from the petroleum industry section from TRI 2015

In [20]:
import pandas as pd

In [21]:
TRI_2015 = pd.read_csv("C:/Users/Luckbug/Code/emissions/TRI/TRI_2015_US.csv")

In [22]:
TRI_2015.head()

,YEAR,TRI_FACILITY_ID,FRS_ID,FACILITY_NAME,STREET_ADDRESS,CITY,COUNTY,ST,ZIP,BIA_CODE,...,8.6_TREATMENT_ON-SITE,8.7_TREATMENT_OFF-SITE,PROD._WASTE_(8.1_THRU_8.7),8.8_ONE-TIME_RELEASE,PROD_RATIO_OR_ACTIVITY,8.9_PRODUCTION_RATIO,PARENT_COMPANY_NAME,PARENT_COMPANY_DB_NUMBER,SYS_STSITSSXSOLCHJPSAF7486K4RV,SYS_STSWGMX8O#197_NPUKVK#S5$QM
0,2015,56071MNNST4077T,1.100410e+11,CHART INC,407 7TH ST NW,NEW PRAGUE,SCOTT,MN,56071,NaN,...,0.0,0.00,82365.0,0.0,PRODUCTION,0.99,CHART INDUSTRIES INC,102279817,1.089210e+19,6.307430e+18
1,2015,64633CRRLL2MILE,1.100410e+11,SINCLAIR CARROLLTON STATION,25872 OLD HWY 24,CARROLLTON,CARROLL,MO,64633,NaN,...,0.0,0.00,0.0,NaN,PRODUCTION,0.99,SINCLAIR OIL CORP,79959185,1.801910e+19,1.013930e+19
2,2015,48239DTRTD13400,1.100000e+11,DETROIT DIESEL CORP REDFORD FACILITY,13400 OUTER DR W,DETROIT,WAYNE,MI,48239,NaN,...,380.0,6474.04,10317.0,NaN,PRODUCTION,1.00,DAIMLER TRUCKS N.A. LLC,61315107,1.109530e+19,4.775780e+18
3,2015,07008XFRDS600MI,1.100000e+11,BRUKER OST LLC,600 MILIK ST,CARTERET,MIDDLESEX,NJ,7008,NaN,...,0.0,0.00,20501.0,NaN,PRODUCTION,0.93,NaN,NaN,2.291950e+18,9.529100e+18
4,2015,41045KNTCKUS42P,1.100010e+11,KENTUCKY UTILITIES CO GHENT STATION,9485 US HWY 42E,GHENT,CARROLL,KY,41045,NaN,...,0.0,0.00,117863.0,NaN,PRODUCTION,1.00,PPL CORP,621101484,5.838960e+18,1.302870e+19

In [23]:
TRI_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81594 entries, 0 to 81593
Columns: 111 entries, YEAR to SYS_STSWGMX8O#197_NPUKVK#S5$QM
dtypes: float64(79), int64(12), object(20)
memory usage: 62.9+ MB

### Filter dataframe "TRI_2015" for petroleum sector emissions

Then, create a new dataframe of only petroleum sector emissions called "Petro_2015"

In [24]:
Petro_2015 = TRI_2015[TRI_2015.INDUSTRY_SECTOR == "Petroleum"]

In [25]:
Petro_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5469 entries, 17 to 81574
Columns: 111 entries, YEAR to SYS_STSWGMX8O#197_NPUKVK#S5$QM
dtypes: float64(79), int64(12), object(20)
memory usage: 4.3+ MB

In [26]:
Ben_Petro_2015 = Petro_2015[Petro_2015.CHEMICAL == "BENZENE"]

In [27]:
Ben_Petro_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165 entries, 343 to 80918
Columns: 111 entries, YEAR to SYS_STSWGMX8O#197_NPUKVK#S5$QM
dtypes: float64(79), int64(12), object(20)
memory usage: 131.5+ KB

Since emissions can be reported in pounds and grams in the column "UNIT_OF_MEASURE," check whether benzene emissions are also reported in grams

In [28]:
Ben_Petro_2015.UNIT_OF_MEASURE.value_counts().reset_index()

    index  UNIT_OF_MEASURE
0  Pounds              165

Good, no benzene emissions were reported in grams so I don't have different units to worry about.

In [29]:
Ben_Petro_2015.to_csv("C:/Users/Luckbug/Code/emissions/Ben_Petro_2015.csv")